# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\source files\python source\webccslserve\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
